<div class="container-fluid order_list">
    <div class="card prime-table">
        <div class="table-header">
            <span>Registration List</span>
            <div class="add_admin_button">
                <button type="button" (click)="addRegistration()" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#FirmModal">
                     New Registration 
                </button>
            </div>
        </div>
        <div class="row m-0 table-body">
            <p-table [value]="registrationData" [paginator]="false" [rows]="10" [showCurrentPageReport]="true"
                [scrollable]="true" scrollDirection="both" responsiveLayout="scroll"
                [style]="{'margin-top': '8px'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%;">Sr</th>
                        <th style="width: 15%;">First Name</th>
                        <th style="width: 15%;">Last Name</th>
                        <th style="width: 15%;">Email</th>
                        <th style="width: 15%;">Password</th>
                        <th style="width: 25%;">Box Address</th>
                        <th style="width: 15%;">Box No</th>
                        <th style="width: 15%;">Mobile No</th>
                        <th style="width: 15%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td style="width: 5%;">{{i+1}}</td>
                        <td style="width: 15%;">{{item.firstName}}</td>
                        <td style="width: 15%;">{{item.lastName}}</td>
                        <td style="width: 15%;">{{item.email}}</td>
                        <td style="width: 15%;">{{item.password}}</td>
                        <td style="width: 25%;">{{item.boxAddress}}</td>
                        <td style="width: 15%;">{{item.boxNo}}</td>
                        <td style="width: 15%;">{{item.mobileNo}}</td>
                        <td style="width: 15%;">{{item.status.name}}</td>
                        <td style="width: 10%;">
                            <div class="button_icon_edit" data-bs-toggle="modal" data-bs-target="#FirmModal" (click)="editRegistration(item)" >
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                            <div class="button_icon_delete" (click)="deleteRegistration(item)">
                                <i  class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="record">
                        <td colspan="12" class="p-text-center p-p-3">No Recode Found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
    <!-- Modal FirmModal -->
    <div class="modal fade" id="FirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isEdit">Add Registration</h5>
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="isEdit">Edit Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <!-- ... add code ..  -->
                <form [formGroup]="registrationForm">
                    <div class="row m-2">
                        <div class="col-6">
                            <div class="form-group m-2">
                                <label for="text">First Name</label>
                                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Email</label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Enter Email ">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Mobile No</label>
                                <input type="text" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile No">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Box Address</label>
                                <textarea name="" formControlName="boxAddress" class="form-control" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group m-2">
                                <label for="text">Last Name</label>
                                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Password</label>
                                <input type="text" class="form-control" formControlName="password" placeholder="Enter Password">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Box No</label>
                                <input type="text" class="form-control" formControlName="boxNo" placeholder="Enter box No">
                            </div>
                            <div class="form-group m-2">
                                <label for="text">Select Status</label>
                                <div>
                                    <p-dropdown [options]="userStatus" formControlName="selectedStatus" optionLabel="name"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                            <ng-container *ngIf="!isEdit">
                                <button data-bs-dismiss="modal" aria-label="Close"  
                                    type="submit" (click)="submit()" class="btn btn-secondary submit">Submit</button>
                            </ng-container>
                            <ng-container *ngIf="isEdit">
                                <button data-bs-dismiss="modal" aria-label="Close"
                                    type="submit" (click)="submit()" class="btn btn-secondary submit">Update</button>
                            </ng-container>
                    </div>
                <!-- ... add code ..  -->
            </form>

            </div>
            
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog header="Confirmation" ></p-confirmDialog>
<app-spinner *ngIf="isLoading"></app-spinner>